{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, World!</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/tailwind.css" />
</head>


<body>
    <nav
        class="fixed top-0 w-full h-16 p-2 flex flex-row justify-between items-center border-b-gray-200 border-solid border-[1px]">
        <span class="font-semibold text-lg">
            Goals
        </span>
    </nav>
    <div class="container mx-auto mt-16">
        {{ range .Goals }}
        {{ template "goal.html" . }}
        {{ end }}
    </div>
</body>


</html>
{{end}}
